#uiSelectedApp{
  text-align: center;
}

#selectedAppDir{
  font-family: "Consolas", monospace;
}

#uiSelectedAppInvalidError p{
  text-align: center;
  background-color: #700000;
  color: white;
  padding: 0.2em;
  border-radius: 0.1em;
}

#tableSelectedAppRumbaWorkers tr td:nth-child(2),
#tableSelectedAppRumbaWorkers tr td:nth-child(3)
{
  font-family: "Consolas", monospace;
}

#tableRumbaApps tr td:nth-child(2)
{
  font-family: "Consolas", monospace;
}