.rumba-state{
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 0.2em;
  min-width: 5.5em;
  display: inline-block;
  text-align: center;
  border-radius: 0.5em;
  background-color: #eee;
}

.rumba-state.stopped{
  color: #888;
}

.rumba-state.starting{
  color: #005;
}

.rumba-state.started{
  color: #005;
  background-color: #dde;
}

.rumba-state.stopping{
  color: #000;
}

.rumba-state.failed{
  color: #500;
  background-color: #dbb;
  font-weight: bold;
}

.rumba-state.invalid{
  color: #500;
  font-weight: bold;
}

.rumba-host, .rumba-port{
  font-family: "Consolas", monospace;
}

#selectApp{
  font-size: 2em;
  height: auto;
  border: none;
  padding: 0;
  color: black;
}

#selectedAppDir{
  font-family: "Consolas", monospace;
}

#uiSelectedAppInvalidError p{
  background-color: #ddbbbb;
  color: #550000;
  padding: 1em;
  border-radius: 0.1em;
}

#uiSelectedAppButtons{
  text-align: center;
  margin: 1em;
}

#uiSelectedAppButtons button{
  min-width: 5em;
}

